
.container {
    margin-bottom: 70px;
}
#gallery {
    list-style: none;
    display: flex;
}
#gallery li img {
    max-width: 90%;
}

#validation-input {
    display: block;
}

#validation-input.valid {
    outline: 3px solid #4caf50;
}

#validation-input.invalid {
    outline: 3px solid #f44336;
}

.validation-input {
    border: 3px solid #bdbdbd;
  }
  
.validation-input.valid {
    border-color: #4caf50;
  }
  
.validation-input.invalid {
    border-color: #f44336;
  }

#gallery {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
    list-style-type: none;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}